POSTGRES_DB=manufacturing_dw
POSTGRES_USER=manufacturing
POSTGRES_PASSWORD=manufacturing
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
AIRFLOW_PORT=8080
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_SECRET_KEY=etids-airflow-secret-key-change-me
SUPERSET_PORT=8088
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_SECRET_KEY=change-this-in-production
SENSOR_ROW_LIMIT=200000
